/* You can add global styles to this file, and also import other style files */
.container{
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.sidebar{
    width: 20%;
}

.content{
    width: 80%;
}
.error{
    color: red;
}

.card{
    margin: 15px;
}